params {

    // I/O
    bam_files   = null      // BAM input
    pod5_dir    = null      // POD5 input
    fastq_files = null      // FASTQ input
    

    // Basecalling options (for fastplong if needed)
    kit_name       = "SQK-NBD114-96"        // default kit
    basecalling_model = "sup"            // default dorado model
    no_trim        = true                // whether to skip trimming
    

    // Fastplong options
    start_adapter      = "TTTCTGTTGGTGCTGATATTGC"
    end_adapter        = "ACTTGCCTGTCGCTCTATCTTC"
    trim_5             = false
    trim_3             = false
    mean_quality       = 20
    qualified_quality  = 15
    unqualified_percent= 40
    min_length         = 50
    
    // host removal
    host_bitmask = "location/mussel.bitmask"
    host_srprism_index = "location/host_srprism_index/"

    //host_fasta = "/data/host_srprism_index/margaritifera_combined.fasta"
    
    

    //Profiling kraken2
    kraken_db        = "/location/smallDB/k2_pluspf_20250402"
    threads_kraken  = 50
    fastq_kraken    = "/location/hr_testfiles/" #files with host removed
    confidence_kraken = 0.1


     // Bracken
    threads_bracken = 8
    bracken_read_len = 100



    outdir = "./results"
}


profiles {

    conda {
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
    }

    mamba {
        conda.enabled          = true
        conda.useMamba         = true
        docker.enabled         = false
        singularity.enabled    = false
    }

    docker {
        docker.enabled         = true
        conda.enabled          = false
        singularity.enabled    = false
    }

    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        conda.enabled          = false
        docker.enabled         = false
    }

}